GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SHEETS_SHEET_NAME=Leads
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
CINDRAL_CONTACT_NAME="Aditya Rao"
CINDRAL_CONTACT_ORGANIZATION=Cindral
CINDRAL_CONTACT_PHONE=+91-7304070829
CINDRAL_CONTACT_EMAIL=admin@cindral.org
CINDRAL_CONTACT_URL=https://cindral.org
BLOGGER_BLOG_ID=your_blogger_blog_id
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
